<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="$dismiss()">
      <i class="fa fa-times fa-lg"></i>
    </button>
    <div class="modal-title">
      <span class="fa fa-university"></span>
      <span>{{(type==='Edit')?"编辑":"添加"}}销售预测</span>
    </div>
  </div>
  <form class="form-horizontal" role="form" name="myForm" novalidate class="jm" ng-class="{submitted:submitted}">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-7 col-sm-offset-3 error ng-binding" ng-if='error'>
            <i class="fa fa-minus-circle"></i> {{error.text}}
          </div>
          
          <!-- <div class="form-group" ng-class="{'has-error':duplicateUserID}">
            <label class="col-sm-3 control-label no-padding-right field-required" for="name"> 医院名称 </label>
            <div class="col-sm-6">
              <select class="chosen-select col-sm-12 form-control"
                  ng-model="saleForecast.FHospName"
                  name="FHospName"
                  ng-options="item as item for item in hospitalList"
                  >
                  <option value="">选择医院名称</option>
              </select>
                  <div ng-if="type==='Edit'" class="margin-top-5" style="font-size:16px;font-weight:bold">{{saleForecast.HospName}}</div>
            </div>
          </div> -->
          <div class="form-group" ng-class="{'has-error':duplicateUserID}">
              <label class="col-sm-3 control-label no-padding-right field-required" for="FHospName"> 医院:</label>
              <div class="col-sm-6" ng-class="{'has-error':!saleForecast.FHospName}">
                <input type='text' class='col-sm-12 form-control'
                                name='FHospName'
                                ng-required="true"
                                ng-blur="uniqueValidation()"
                                class='full-width form-control'
                                ng-class="{'submitted':submitted,'error':(!saleForecast.FHospName)}"
                                ng-model="saleForecast.FHospName"
                                typeahead="item.FName as item.FName for item in hospitalList|filter:$viewValue|limitTo:12"
                                placeholder="选择医院"
                                typeahead-editable="false"
                                autocomplete="off">
              </div>
            </div>
     
            <div class="form-group" ng-class="{'has-error':duplicateUserID}">
                <label class="col-sm-3 control-label no-padding-right field-required" for="saler"> 销售代表:</label>
                <div class="col-sm-6" ng-class="{'has-error':!saleForecast.FEmpName}">
                    <input type='text' class='col-sm-12 form-control'
                                name='FEmpName'
                                ng-required="true"
                                ng-blur="uniqueValidation()"
                                class='full-width form-control'
                                ng-class="{'submitted':submitted,'error':(!saleForecast.FEmpName)}"
                                ng-model="saleForecast.FEmpName"
                                typeahead="item.FName as item.FName for item in salerList|filter:$viewValue|limitTo:12"
                                placeholder="选择代表"
                                typeahead-editable="false"
                                autocomplete="off">
                </div>
             </div>             
            <div class="form-group" ng-class="{'has-error':duplicateUserID}">
                  <label class="col-sm-3 control-label no-padding-right field-required" for="role"> 产品类别:</label>
                  <div class="col-sm-6">
                      <select class="chosen-select col-sm-12 form-control"
                          ng-model="saleForecast.ProductTypeName"
                          ng-blur="uniqueValidation()"
                          name="ProductTypeName"
                          ng-options="item.FName as item.FName for item in productTypeList"
                          >
                          <option value="">选择产品类别</option>
                      </select>
                      <!-- <div ng-if="authUser.UserRole!=='superAdmin'" class="margin-top-5" style="font-size:16px;font-weight:bold">{{user.UserRole}}</div> -->
                  </div>
              </div>    
              <!-- <div class="form-group" >
                  <label class="col-sm-3 control-label no-padding-right field-required" for="year"> 年月:</label>
                  <div class="col-sm-3">
                      <select class="chosen-select col-sm-12 form-control"
                          ng-model="saleForecast.Year"
                          name="year"
                          ng-options="item as item for item in [2018,2019,2020]"
                          >
                          <option value="">选择年</option>
                      </select>
                    </div>
                      <div class="col-sm-3">
                        <select class="chosen-select col-sm-12 form-control"
                                ng-model="saleForecast.Month"
                                name="month"
                                ng-options="item as item for item in [1,2,3,4,5,6,7,8,10,11,12]"
                                >
                                <option value="">选择月</option>
                            </select>
                      </div>      
                  </div>
              </div>  -->  
              <div class="form-group" ng-class="{'has-error':duplicateUserID}">
                  <label class="col-sm-3 control-label no-padding-right field-required" for="woNo">请选择日期:</label>
                  <div class="col-sm-6">
                    <input type="text" class="col-sm-6 form-control" datepicker-popup="yyyy年M月" placeholder="请选择月份" 
                      datepicker-options="{minMode: 'month'}" 
                      datepicker-mode="'month'"
                      ng-blur="uniqueValidation()"
                      ng-model="saleForecast.Date" is-open="opened" ng-readonly="true"
                      ng-required="true" close-text="关闭"  ng-click="opened=true" clear-text="清除" current-text='本月'/>
                  </div>
                </div>    
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right field-required" for="name"> 预算价格</label>
            <div class="col-sm-6">
                  <input type='number' class='col-sm-6 form-control'
                                  name='remark'
                                  ng-required="true"
                                  class='full-width form-control'
                                  ng-class="{'submitted':submitted}"
                                  ng-model="saleForecast.Aprice"
                                  placeholder="预算价格">
            </div>
            <!-- <div class="col-sm-3 margin-top-5">Max Char:3</div> -->
          </div>    
          <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right field-required" for="name"> 预算数量</label>
              <div class="col-sm-6">
                   <input type='number' class='col-sm-6 form-control'
                                   name='remark'
                                   ng-required="true"
                                   class='full-width form-control'
                                   ng-class="{'submitted':submitted}"
                                   ng-model="saleForecast.Aamout"
                                   placeholder="预算数量">
              </div>
              <!-- <div class="col-sm-3 margin-top-5">Max Char:3</div> -->
            </div>  
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right field-required" for="name"> 备注</label>
            <div class="col-sm-6">
                 <input type='text' class='col-sm-6 form-control'
                                 name='remark'
                                 ng-required="true"
                                 class='full-width form-control'
                                 ng-class="{'submitted':submitted}"
                                 ng-model="saleForecast.Fnote"
                                 placeholder="备注">
            </div>
            <!-- <div class="col-sm-3 margin-top-5">Max Char:3</div> -->
          </div>          
          <div class="clearboth"></div>
        </div>
      </div>
      <div class="modal-body" ng-class="{'has-error':duplicateUserID}">
          <label class="col-sm-20 no-margin-x margin-top-5" for="name" ng-show="duplicateUserID"> 本月份所对应的医院、销售代表、产品类型数据已经存在！</label>
      </div>
    </div>
  
    <div class="modal-footer text-center">
      <button type="submit" class="btn btn-primary" ng-click="submit()" 
        ng-disabled="!saleForecast.FHospName||!saleForecast.FEmpName||!saleForecast.ProductTypeName||!saleForecast.Date||!saleForecast.Aprice||!saleForecast.Aamout||duplicateUserID">
        提交
      </button>
      <button type="button" class="btn btn-default" ng-click="reset()">
        重置
      </button>
      <button type="button" class="btn btn-default" ng-click="$dismiss()">
        取消
      </button>
    </div>
  </form>
  <pre ng-show="debug">{{saleForecast|json}}</pre >