    <div class="modal-header dialog-header-{{confirm.type}}">
      <button type="button" class="close" ng-click="$dismiss()">
        ×
      </button>
      <h4 class="modal-title">
        <span class="glyphicon glyphicon-check">
        </span>
        {{confirm.modalHeader||'Submit Confirmation'}} 
      </h4>
    </div>
    <div class="modal-body font-16 text-info">
      {{confirm.message}}
    </div>
    <div class="modal-footer text-center">
      <button type="button" class="btn btn-{{confirm.type}}" ng-click="yes()" ng-show="confirm.type==='success'">OK</button>
      <button type="button" class="btn btn-{{confirm.type}}" ng-click="$dismiss()" ng-show="confirm.type==='danger'">OK</button>
    </div>