<div class="modal-header dialog-header-confirm">
  <button type="button" class="close" ng-click="$dismiss()">
    <i class="fa fa-times fa-lg"></i>
  </button>
  <div class="modal-title">
    <span class="fa fa-university"></span>
    <span>复制销售预测</span>
  </div>
</div>
<form class="form-horizontal" role="form" name="myForm" novalidate class="jm" ng-class="{submitted:submitted}">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-7 col-sm-offset-3 error ng-binding" ng-if='error'>
          <i class="fa fa-minus-circle"></i> {{error.text}}
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right field-required" for="role"> 产品类别:</label>
            <div class="col-sm-6">
                <select class="chosen-select col-sm-12 form-control"
                    ng-model="saleForecast.ProductTypeName"
                    name="ProductTypeName"
                    ng-options="item.FName as item.FName for item in productTypeList"
                    >
                    <option value="">选择产品类别</option>
                </select>
            </div>
          </div>    
          <div class="form-group" ng-class="{'has-error':duplicateUserID}">
            <label class="col-sm-3 control-label no-padding-right field-required" for="woNo">来源数据日期:</label>
            <div class="col-sm-6">
              <input type="text" class="col-sm-6 form-control" datepicker-popup="yyyy年M月" placeholder="请选择月份" 
                datepicker-options="{minMode: 'month'}"
                datepicker-mode="'month'"
                ng-model="saleForecast.Date" ng-blur="uniqueValidation()" is-open="dateOpened" ng-readonly="true"
                ng-required="true" close-text="关闭"  ng-click="dateOpened=true" clear-text="清除" current-text='本月'/>
            </div>
          </div>   
          <div class="form-group" ng-class="{'has-error':duplicateUserID}">
            <label class="col-sm-3 control-label no-padding-right field-required" for="woNo">目标数据日期:</label>
            <div class="col-sm-6">
              <input type="text" class="col-sm-6 form-control" datepicker-popup="yyyy年M月" placeholder="请选择月份" 
                datepicker-options="{minMode: 'month'}"
                datepicker-mode="'month'"
                ng-model="saleForecast.DateTarget" ng-blur="uniqueValidation()" is-open="dateTargetOpened" ng-readonly="true"
                ng-required="true" close-text="关闭"  ng-click="dateTargetOpened=true" clear-text="清除" current-text='本月'/>
            </div>
          </div>       

        <div class="clearboth"></div>
      </div>
    </div>
    <div class="modal-body" ng-class="{'has-error':duplicateUserID}">
        <label class="col-sm-20 no-margin-x margin-top-5" for="name" ng-show="duplicateUserID"> 来源数据日期和目标数据日期相同！</label>
    </div>
  </div>

  <div class="modal-footer text-center">
    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="!saleForecast.ProductTypeName||!saleForecast.Date||!saleForecast.DateTarget||duplicateUserID">
      提交
    </button>
    <button type="button" class="btn btn-default" ng-click="reset()">
      重置
    </button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">
      取消
    </button>
  </div>
</form>
<pre ng-show="debug">businessPrice：{{saleForecast|json}}</pre >
