	<div class="" style="padding:30px;margin-top:20px">
	  <h2 class="text-center">Fulfillment</h2>
	</div>
<section>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/picking" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Picking
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/tools/picking-reversals" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Picking Reversals
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/packing" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Packing
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href=""#/fulfillment/tools/packing-reversals" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Packing Reversals
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/tools/pgi" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	PGI
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/tools/reversals-pgi" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	PGI Reversals
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
			<a href="#/fulfillment/tools/reservation" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Reversation
			</a> 
	</div>
	<div class="clearboth"></div>
	
</section>


<pre ng-show="debug">bInfo:{{info.bInfo | json}}</pre>	
<pre ng-show="debug">itemInfo:{{info.itemInfo | json}}</pre>	
<pre ng-show="debug">receipts:{{receipts | json}}</pre>	