<style type="text/css">
	.guide li span{display:inline-block;padding:2px; text-align: center; font-size: 21px}
	.guide li span.desc{font-size: 15px;font-weight: bold;height: 30px}
	.guide .marker{background-color:#f7601f;width:27px;}
	.guide .ean-code{background-color:#ebccd1;width:167px;}
	.guide .expiry{background-color:#DDD;width:72px;}
	.guide .batchNo{background-color:#D9EDF7;width:129px;}
	.guide .serialNo{background-color:#d6e9c6;width:106px;}
  .code {
    background-color:#D9EDF7;
    font-family: "Courier New";
    padding:5px 10px;
  }

	/*.guide .marker{background-color:#777;color:#EEE;width:32px;}
	.guide .ean-code{background-color:#EEE;width:175px;}
	.guide .expiry{background-color:#EEE;width:75px;}
	.guide .batchNo{background-color:#EEE;width:135px;}
	.guide .serialNo{background-color:#EEE;width:111px;}*/
</style>

<div class="" style="padding:30px;margin-top:20px">
  <!-- <h1 class="text-center">Biosensors Interventional Technologies Pte Ltd</h1>
  <h2 class="text-center">Welcome to BX system</h2> -->
  <div class="well">
  		<h2 class="text-center">Welcome to Biosensors BX system</h2>
  </div>
  <!-- <h3>Guide for User Interface Experience Test</h3> -->
  <ol class="guide" style="font-size: 20px">
  	<li>url: <a href="{{url}}">{{url}}</a></li>
  	<li>Connected SAP Server
	  <ul>
	  	<li>IP: {{dbInfo.sapInfo.applicationServer}}</li>
	  	<li>Server ID: {{dbInfo.sapInfo.instanceNumber}}</li>
	  	<li>Client: {{dbInfo.sapInfo.client}}</li>
	  	<li>user: {{dbInfo.sapInfo.username}}</li>
	  </ul>
  	<li>Connected SQL Server
	  <ul>
	  	<li>Server name: {{dbInfo.sqlSvrInfo.server}}</li>
	  	<li>Database: {{dbInfo.sqlSvrInfo.database}}</li>
	  	<li>user: {{dbInfo.sqlSvrInfo.user}}</li>
	  </ul>
  	<li>Login
	  <ul>
	  	<li>domain: Choose your domain</li>
	  	<li>username: Your system username</li>
	  	<li>password: Your system password</li>
	  	<li>Click Submit</li>
	  </ul>
    </li>
    <li>
      <a href="#/receiving">Receiving</a>  
      <ul>
        <li><a href="#/receiving/spoReceipts">Subcon PO Receipts</a> </li>
        <li><a href="#/receiving/rtgReceipts">RGA Receipts</a> </li>
      </ul>
    </li>
    <li>
      <a href="#/fulfillment">Fulfillment</a>  
      <ul>
        <li><a href="#/fulfillment/picking">Picking</a></li>
        <li><a href="#/fulfillment/tools/picking-reversals">Picking Reversals</a></li>
        <li><a href="#/fulfillment/packing">Packing</a></li>
        <li><a href="#/fulfillment/tools/packing-reversals">Packing Reversals</a></li>
        <li><a href="#/fulfillment/tools/pgi">PGI</a></li>
        <li><a href="#/fulfillment/tools/reversals-pgi">PGI Reversals</a></li>
        <li><a href="#/fulfillment/tools/reservation">Reversation</a></li>
      </ul>
    </li>
    <!-- <li style="font-size: 22px"> 
      <div>Anatomy of the Barcode</div>
      <span class="marker">01</span><span class="ean-code">08888893016399</span><span class="marker">17</span><span class="expiry">141113</span><span class="marker">10</span><span class="batchNo">W131004584</span><span class="marker">21</span><span class="serialNo">1803W189</span>
      <div style="border:1px solid #FFF;opacity: 1">
      <span class="marker desc">M</span><span class="ean-code desc">EAN Code(14)</span><span class="marker desc">M</span><span class="expiry desc">Expiry(6)</span><span class="marker desc">M</span><span class="batchNo desc">Batch No(any)</span><span class="marker desc">M</span><span class="serialNo desc">Serial No(any)</span>
      </div>
    </li>
        
        <li>Barcode without Serial No:
          <ul>
          <li>01088888930161391714111310W131004584 (MaterialCode is BMXP-2208)</li>
        </ul>
        </li>
        <li>Barcode without Batch No and Serial No:
          <ul>
          <li>010888889301634417141113 (MaterialCode is BMXP-2736)</li>
        </ul>
        </li>
        <li>Barcode1 and Barcode 2:
          <ul>
          <li>010888889301649817141113 (MaterialCode is BMXP-3533)</li>
          <li>10W131004584</li>
        </ul>
      </li> -->

  	
    <!-- <li>A barcode is a composition of any combinations and sequence of the following segments:
      <ul>
        <li>EAN Code: start with 01 or 02, followed by 14 chars</li>
        <li>Expiry: start with 17, followed by 6 chars</li>
        <li>Batch No: start with 10, end either before a non-printable ASCII code 29 (Group Separator, or GS), or the rest chars of the barcode</li>
        <li>serial No: start with 21, end either before a non-printable ASCII code 29 (Group Separator, or GS), or the rest chars of the barcode</li>
      </ul>
    </li> -->

      <!-- <li>
        <div>EANcode+expiry+M30+GS+batchNo+GS+serialNo</div>
        <div class="code pull-left">{{EANCode}}{{expiry}}{{batchNo}}{{ascii29}}3001{{ascii29}}{{serialNo}}</div>
      </li>
      <li>
        <div>EANcode+expiry+M30+GS+batchNo+GS+serialNo</div>
        <div class="code pull-left">{{EANCode}}{{expiry}}{{batchNo}}{{ascii29}}3001{{ascii29}}370134{{ascii29}}{{serialNo}}</div>
      </li>
      <li>
        <div>EANcode+expiry+batchNo+GS+serialNo</div>
        <div class="code pull-left">{{EANCode}}{{expiry}}{{batchNo}}{{ascii29}}{{serialNo}}</div>
      </li>

      <li>
        <div>EANcode+batchNo+GS+serialNo+GS+expiry</div>
        <div class="code pull-left">{{EANCode}}{{batchNo}}{{ascii29}}{{serialNo}}{{ascii29}}{{expiry}}</div>
      </li>


  
      <li>
        <div>batchNo+GS+EANcode+serialNo+GS+expiry</div>
        <div class="code pull-left">{{batchNo}}{{ascii29}}{{EANCode}}{{serialNo}}{{ascii29}}{{expiry}}</div>
        <div class="clearboth"></div>
      </li>

      <li>
        <div>Barcode1: EANcode+expiry</div>
        <div class="code pull-left">{{EANCode}}{{expiry}}</div>
        <div class="clearboth"></div>
        <div>Barcode2: batchNo</div>
        <div class="code pull-left">{{batchNo}}</div>
        <div class="clearboth"></div>
      </li>
      <li>
        <div>Barcode1: EANcode+expiry+batchNo</div>
        <div class="code pull-left">{{EANCode}}{{expiry}}{{batchNo}}</div>
        <div class="clearboth"></div>
        <div>Barcode2: serialNo</div>
        <div class="code pull-left">{{serialNo}}</div>
        <div class="clearboth"></div>
      </li>
      <li>
        <div>Barcode1: EANcode+batchNo+GS+expiry</div>
        <div class="code pull-left">{{EANCode}}{{batchNo}}{{ascii29}}{{expiry}}</div>
        <div class="clearboth"></div>
        <div>Barcode2: serialNo</div>
        <div class="code pull-left">{{serialNo}}</div>
        <div class="clearboth"></div>
      </li>
      <li><h3> Real data test</h3></li>
      <li>Packing
        <ul>
          <li>DO number: 0800379646</li>
        </ul>

      </li> -->
  </ol>
</div>

<pre ng-show="debug">dbInfo:{{dbInfo | json}}</pre>	