

	<h2 class="text-center" style="padding-top:60px">Picking Reversals</h2>
	<div class="margin-top-20" style="padding:30px 0 10px 0" ng-if="!TONumber">
	 <form role="form" name="TONumberForm">

		<div class="form-group">
	    <label class="block" for="TONumber">Please enter a TO Number:</label>
	    <input type="text" class="form-control" id="TONumber" placeholder="enter TO Number" ng-model="order.TONumber">
	  </div>
	  
	  <button type="submit" class="btn btn-default" ng-click="submitForm()" ng-disabled="!order.TONumber">Submit</button>
	</form>
  </div>
  </div>


  <div class="padding-x-20" ng-init="temp.showTab='picking'" ng-if="TONumber">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs margin-bottom" role="tablist">
    <li role="presentation" ng-class="{'active':temp.showTab==='picking'}"><a class="cursor-pointer" ng-click="temp.showTab='picking'">Order Detail</a></li>
    <li role="presentation" ng-show="order.pickingStatus" ng-class="{'active':temp.showTab==='serialNos'}"><a class="cursor-pointer" ng-click="temp.showTab='serialNos'">Serial Nos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane"  ng-class="{'active':temp.showTab==='picking'}" id="picking">
		  <table class="table padding-top table-striped">
		  	<!-- <thead> 
		  		<tr> 
		  			<th  class="text-center" colspan="2">Picking</th> 
		  		</tr> 
		  	</thead>  -->
		  	<tbody> 
		  		<tr> 
		  			<td >TO No.</td> 
		  			<td>{{order.TONumber}}</td>
		  		</tr>
		  		<tr> 
		  			<td >DO No.</td> 
		  			<td>{{order.DONumber}}</td>
		  		</tr> 
		  		<!-- <tr> 
		  			<td >Name of Ship from party</td> 
		  			<td>{{order.shipFrom}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Planned Good Issue Date</td> 
		  			<td>{{order.plannedGoodIssueDate|date:"dd/MMM/yyyy"}}</td>
		  		</tr>  -->
		  		<tr> 
		  			<td >TO Creation Date</td> 
		  			<td>{{order.TOCreationDate}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >TO Creation User</td> 
		  			<td>{{order.TOCreationUser}}</td>
		  		</tr> 
		  		</tr> 
		  		<tr> 
		  			<td >Warehouse No.</td> 
		  			<td>{{order.Warehouse}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Plant.</td> 
		  			<td>{{order.plannedItems[0].Plant}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Number of Items</td> 
		  			<td>{{order.plannedItems.length}}</td>
		  		</tr> 
		  	</tbody> 
		  </table>
		</div>
		<table class="table padding-top table-striped">
			<thead>
				<tr>
					<th colspan="4">Please choose the items for reversal</th>
				</tr>
				<tr>
					<th>TO Item No.</th>
					<th>Material Code</th>
					<th>Batch No</th>
					<th>Reversal</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(idx,item) in order.plannedItems">
					<td>{{item.TOItemNumber}}</td>
					<td>{{item.MaterialCode}}</td>
					<td>{{item.BatchNo}}</td>
					<td><input type="checkbox" ng-model="item.reversal" style="height:16px;width:20px;" ng-change="chooseReversal()"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="text-center">
							<button type="submit" class="btn btn-info" ng-click="submitReversals()" 
								ng-disabled="!order.reversals">Submit for Reversals</button>
					</td>
				</tr>
			</tfoot>
		</table>
  
  
  </div>
  <div class="clearboth"></div>
</div>

<pre ng-show="debug">order:{{order | json}}</pre>	
<pre ng-show="debug">temp:{{temp | json}}</pre>	