

	<h2 class="text-center" style="padding-top:60px">Picking</h2>
	<div class="margin-top-20" style="padding:30px 0 10px 0" ng-if="!TONumber">
	 <form role="form" name="TONumberForm">

<!-- 	  <div class="form-group">
	    <label class="block" for="warehouseNo">Please enter Warehouse Number:</label>
	    <input type="text" class="form-control" id="TONumber" placeholder="enter Warehouse Number" ng-model="order.warehouseNo">
	  </div> -->
	  <div class="form-group">
	    <label class="block" for="TONumber">Please enter a TO Number:</label>
			<input type="text" class="form-control" id="TONumber" placeholder="enter TO Number" 
						 ng-model="order.TONumber" autofocus focus-me="true">
	  </div>
	  
	  <button type="submit" class="btn btn-default" ng-click="submitForm()" ng-disabled="!order.TONumber">Submit</button>
	</form>
  </div>
  </div>


  <div class="padding-x-20" ng-init="temp.showTab='picking'" ng-if="TONumber">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs margin-bottom" role="tablist">
    <li role="presentation" ng-class="{'active':temp.showTab==='picking'}"><a class="cursor-pointer" ng-click="temp.showTab='picking'">Order Detail</a></li>
    <li role="presentation" ng-show="order.pickingStatus" ng-class="{'active':temp.showTab==='serialNos'}"><a class="cursor-pointer" ng-click="temp.showTab='serialNos'">Serial Nos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane"  ng-class="{'active':temp.showTab==='picking'}" id="picking">
		  <table class="table padding-top table-striped">
		  	<!-- <thead> 
		  		<tr> 
		  			<th  class="text-center" colspan="2">Picking</th> 
		  		</tr> 
		  	</thead>  -->
		  	<tbody> 
		  		<tr> 
		  			<td >TO No.</td> 
		  			<td>{{order.TONumber}}</td>
		  		</tr>
		  		<tr> 
		  			<td >DO No.</td> 
		  			<td>{{order.DONumber}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Name of Ship from party</td> 
		  			<td>{{order.ShipToCustomerName||(order.ShipToCustomer+" (Name can't be found in SAP)")}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Planned Good Issue Date</td> 
		  			<td>{{order.PlannedGoodsDeliveryDate|ymdDate:"dd MMM yyyy"}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >TO Creation Date</td> 
		  			<td>{{order.TOCreationDate|ymdDate:"dd MMM yyyy"}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >TO Creation User</td> 
		  			<td>{{order.TOCreationUser}}</td>
		  		</tr> 
		  		</tr> 
		  		<tr> 
		  			<td >Warehouse No.</td> 
		  			<td>{{order.Warehouse}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Plant.</td> 
		  			<td>{{order.plannedItems[0].Plant}}</td>
		  		</tr> 
		  		<tr> 
		  			<td >Number of Items</td> 
		  			<td>{{order.plannedItems.length}}</td>
		  		</tr> 
		  		<tr ng-show="order.PickStart"> 
		  			<td >Pick Start </td> 
		  			<td>{{order.PickStart}}</td>
		  		</tr> 
		  		<tr ng-show="order.PickComplete"> 
		  			<td >Pik Complete</td> 
		  			<td>{{order.PickComplete}}</td>
		  		</tr> 
		  		<tr ng-show="order.Push2SAPStatus"> 
		  			<td >Pick Confirm</td> 
		  			<td>{{order.Push2SAPStatus}}</td>
		  		</tr> 
		  	</tbody> 
		  </table>
    </div>
		<!-- <div role="tabpanel" class="tab-pane" ng-class="{'active':temp.showTab==='serialNos'}"
		 id="serialNos" scan-items items="order.items" type="picking" info="info">
		 <div role="tabpanel" class="tab-pane" ng-class="{'active':temp.showTab==='scanItem'}" 
		 id="scanItem" scan-items order="order" type="picking" barcode="barcode" order-no="{{order.DONumber}}">
    </div>
	  
  </div> -->
  <div class="button-group margin-top-20">
  	<div class="col-sm-3 col-xs-12 margin-top">
	  	<button type="button" class="col-xs-12 btn btn-default btn-md" confirm-required action="start pick"
	  			ng-class="{'btn-primary':!order.PickStart,
	  						'btn-success':order.PickStart}"
	  			ng-disabled="order.PickStart||order.PickConfirmStatus==='X'"
	  			ng-click="changePickingStatus('PickStart')"> 
	  		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Start Pick
		</button>
  	</div>
  	<div class="col-sm-3 col-xs-12 text-center margin-top">
  	<button type="button" class="col-xs-12 btn btn-default btn-md" confirm-required action="complete pick"
  			ng-class="{'btn-primary':order.PickStart,
  						'btn-success':order.PickComplete||order.Push2SAPStatus}"
  			ng-disabled="!order.PickStart||order.PickComplete||order.Push2SAPStatus||order.order.PickConfirmStatus==='X'"
  			ng-click="changePickingStatus('PickComplete')">
	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Pick Complete
	</button>
	</div>
  	<div class="col-sm-3 col-xs-12 text-right margin-top">
  	<button type="button" class="col-xs-12 btn btn-default btn-md" confirm-required action="comfirm pick"
  			ng-class="{'btn-primary':order.PickComplete,
  						'btn-success':order.Push2SAPStatus}"
  			ng-disabled="!order.PickStart||!order.PickComplete||order.Push2SAPStatus||order.PickConfirmStatus==='X'"
			ng-click="changePickingStatus('Push2SAPStatus')">
	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Confirm Pick
	</button>
	</div>
  	<!-- <div class="col-sm-3 col-xs-12 text-right margin-top">
  	<button type="button" class="col-xs-12 btn btn-danger btn-md" confirm-required action="reset pick status"
  			ng-disabled="!order.pickingStatus"
			ng-click="changePickingStatus('reset')">
	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Reset status
	</button>
	</div> -->
  </div>
  <div class="clearboth"></div>
</div>

<pre ng-show="debug">bInfo:{{info.bInfo | json}}</pre>	
<pre ng-show="debug">itemInfo:{{info.itemInfo | json}}</pre>	
<pre ng-show="debug">order:{{order | json}}</pre>	
<pre ng-show="debug">temp:{{temp | json}}</pre>	