<div class="no-padding-bottom" style="padding:30px;margin-top:20px">
	<h2 class="text-center">Quarantine Shipment Planning</h2>
</div>
<h3 class="text-center">Subcon Order:{{plan.subconPORefNo}}</h3>

<!-- tabs -->
<div ng-init="showTab='currentPlan'" class=" col-sm-12 padding-top-20 no-padding-x" ng-if="plan" >
	<!-- Nav tabs -->
	<ul class="nav nav-tabs " role="tablist">
		  <li role="presentation" ng-class="{'active':showTab==='currentPlan'}"><a class="cursor-pointer" 
				  ng-click="showTab='currentPlan'">Current Plan</a></li>
		  <li role="presentation" ng-class="{'active':showTab==='previousPlans'}" ng-show="previousPlans&&previousPlans.length>0">
			  <a class="cursor-pointer" ng-click="showTab='previousPlans'">Previous Plans</a></li>
	</ul>
  
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane"  ng-class="{'active':showTab==='currentPlan'}" id="currentPlan">
				
				
				<h4 class="text-center">Quarantine Shipment Plan No.:{{plan.qsNo}}</h4>
				<table class="table padding-top table-striped" >
				<thead> 
				<tr> 
					<th width="12%"  class="text-center">Work Order</th> 
					<th width="12%"  class="text-center">Batch</th> 
					<th width="15%"  class="text-center">Material</th> 
					<th width="12%"  class="text-center">Total Qty</th> 
					<th width="12%"  class="text-center">Shipped Qty</th> 
					<th width="12%"  class="text-center">BIT Recv/Plan</th> 
					<th width="12%"  class="text-center">Quar Shpt Recv</th> 
					<th width="14%"  class="text-center">Quar Shpt Plan</th> 
				</tr> 
				</thead> 
				<tbody> 
				<tr ng-repeat="(woIdx,order) in plan.workOrders"> 
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >{{::order.workOrder}}</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >{{::order.batchNo}}</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >{{::order.materialCode}}</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >{{::order.totalBITQty}}</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >{{::order.shippedQty}}</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >
							{{::order.scannedBITQty}} / {{order.availbleBITQty||0}}
					</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >
							{{::order.scannedQuarQty}}
					</td>
					<td  class="text-center" ng-class="{'bg-success':order.lotReleased}" >
							<input type='number' class='col-sm12 col-xs-12 no-padding-right'
							min="0"
							name='planQty'
							ng-required="true"
							class='full-width form-control'
							ng-class="{'submitted':submitted}"
							ng-model="order.planQty"
							ng-change="reCalulate(order)"
							ng-disabled="order.lotReleased"
							>
					</td>
				</tr>
				</tbody> 
				<tfoot>
				<tr> 
					<td  class="text-center" colspan="3">Total:</td>
					<td  class="text-center">{{::su.totalBITQty}}</td>
					<td  class="text-center">{{::su.shippedQty}}</td>
					<td  class="text-center">{{::su.scannedBITQty||0}} / {{su.availbleBITQty||0}}</td>
					<td  class="text-center">{{::su.scannedQuarQty||0}}</td>
					<td  class="text-center">{{su.planQty}}</td>
				</tr>
				</tfoot>
				</table>
				<div class="col-sm-4 col-xs-12 no-padding-x text-right margin-bottom">
				<!-- <div class="col-sm-4 col-xs-12 no-padding-x text-right margin-bottom" ng-if="authUser.UserRole.indexOf('wh')===-1&&authUser.UserRole.indexOf('qa')===-1"> -->
				<button type="button" class="col-xs-12 btn btn-primary btn-md" confirm-required action="confirm Save Quarantine Shipment Plan" 
				ng-click="saveQuarShptPlan()">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Save Plan
				</button>
				</div>
				<div class="clearboth"></div>
	  </div>
	  <div role="tabpanel" class="tab-pane padding-top"  ng-class="{'active':showTab==='previousPlans'}" id="previousPlans">
			<accordion close-others="false" >
					<div accordion-group class="panel-default quar-plan margin-y"  
							is-open="true" is-disabled="false" 
								ng-repeat="(pidx,ppl) in previousPlans" >
						<accordion-heading>
								<h4 class="text-center bold">Quarantine Shipment Plan No.:{{::ppl.qsNo}}</h4>
						</accordion-heading>
						<table class="table table-striped border">
								<thead> 
									<tr>
											<th width="14%"  class="text-center">Work Order</th> 
											<th width="14%"  class="text-center">Batch</th> 
											<th width="14%"  class="text-center">Material</th> 
											<th width="10%"  class="text-center">Plan Qty</th> 
											<th width="10%"  class="text-center">Plan By</th> 
											<th width="19%"  class="text-center">Plan On</th> 
											<th width="19%"  class="text-center">Confirmed On</th> 
									</tr>
								</thead> 
								<tbody> 
									<tr ng-repeat="(wIdx,pl) in ppl.workOrders">
											<td class="text-center">{{::pl.workOrder}}</td> 
											<td class="text-center">{{::pl.batchNo}}</td> 
											<td class="text-center">{{::pl.materialCode}}</td> 
											<td class="text-center">{{::pl.planQty}}</td> 
											<td class="text-center">{{::pl.planBy}}</td> 
											<td class="text-center">{{::pl.planOn|localDatetime}}</td> 
											<td class="text-center">{{::pl.confirmedOn|localDatetime}}</td> 
									</tr>
								</tbody> 
							</table>
					</div>
					<dir class="clearboth"></dir>
				</accordion>
	  </div>
	</div>
</div>



<div class="clearboth"></div>
<pre ng-if="debug">shippedQty:{{shippedQty | json}}</pre>	
<pre ng-if="debug">previousPlans:{{previousPlans | json}}</pre>	
<pre ng-if="debug">plan:{{plan | json}}</pre>	
<pre ng-if="debug">temp:{{temp | json}}</pre>	

