<div class="" style="padding:30px;margin-top:20px">
	<h2 class="text-center">Quarantine Shipment Planning</h2>
</div>
<h3 class="text-center">Subcon Order:{{workOrders[0].SubConPoRefNo}}</h3>
<table class="table padding-top table-striped" >
	<thead> 
		<tr> 
			<th width="15%"  class="text-center">Work Order</th> 
			<th width="15%"  class="text-center">Batch</th> 
			<th width="14%"  class="text-center">Total Qty</th> 
			<th width="14%"  class="text-center">Plan Qty for BIT</th> 
			<th width="14%"  class="text-center">Plan Qty for Quar Shpt</th> 
			<th width="14%"  class="text-center">Scan Qty For BIT</th> 
			<th width="14%"  class="text-center">Scan Qty For Quar Shpt</th> 
		</tr> 
	</thead> 
	<tbody> 
				<tr ng-repeat="(woIdx,order) in workOrders"> 
					<td  class="text-center" >{{::order.WorkOrder}}</td>
					<td  class="text-center" >{{::order.FullScanCode|displayBatch}}</td>
					<td  class="text-center" >{{::order.totalQty}}</td>
					<td  class="text-center" >{{order.nPlanSGWQty||0}}</td>
					<td  class="text-center" >
							<input type='number' class='col-sm-12 col-xs-12 no-padding-right'
                            min="0"
							name='planForQuarQty'
							ng-required="true"
							class='full-width form-control'
							ng-class="{'submitted':submitted}"
							ng-model="order.nPlanQuarQty"
							ng-change="reCalulate(order)">
					</td>
					<td  class="text-center" >{{::order.nScanSGWQty}}</td>
					<td  class="text-center" >{{::order.nScanQuarQty}}</td>
				</tr>
			</tbody> 
			<tfoot>
				<tr> 
					<td  class="text-center" colspan="2">Total:</td>
					<td  class="text-center">{{::su.totalQty}}</td>
					<td  class="text-center">{{su.planSGWQty||0}}</td>
					<td  class="text-center">{{su.planQuarQty}}</td>
					<td  class="text-center">{{::su.scanSGWQty||0}}</td>
					<td  class="text-center">{{::su.scanQuarQty||0}}</td>
				</tr>
			</tfoot>
</table>
  <div class="col-sm-4 col-xs-12 no-padding-x text-right margin-bottom" ng-if="authUser.UserRole.indexOf('wh')===-1&&authUser.UserRole.indexOf('qa')===-1">
		<button type="button" class="col-xs-12 btn btn-primary btn-md" confirm-required action="confirm Save Quarantine Shipment Plan" 
		ng-click="saveQuarShptPlan()">
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Save Plan
	  </button>
  </div>
  <div class="clearboth"></div>

<div class="clearboth"></div>
<pre ng-show="debug">workOrders:{{workOrders | json}}</pre>	
<pre ng-show="debug">temp:{{temp | json}}</pre>	

