	<div class="" style="padding:30px;margin-top:20px">
	  <h2 class="text-center">Receiving</h2>
	</div>
<section ng-if="!receipts.categoryId">
	<div class="col-sm-6 col-sm-offset-3 margin-top">
	  <a href="#/receiving/spoReceipts" type="button" class="col-xs-12 btn btn-info btn-lg"> 
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Subcon PO Receipts
		</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top-20">
			<a href="#/receiving/rtgReceipts" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	RGA Receipts
			</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top-20">
			<a href="#/receiving/rtgReceipts-reversals" type="button" class="col-xs-12 btn btn-info btn-lg"> 
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	RGA Reversals
			</a> 
	</div>
	<div class="clearboth"></div>
</section>


<pre ng-show="debug">bInfo:{{info.bInfo | json}}</pre>	
<pre ng-show="debug">itemInfo:{{info.itemInfo | json}}</pre>	
<pre ng-show="debug">receipts:{{receipts | json}}</pre>	