

	<h2 class="text-center" style="padding-top:60px">RGA Receipts</h2>
	<div class="margin-top-20 col-sm-8 col-sm-offset-2" ng-if="!DONumber">
	 <form role="form" name="DONumberForm">

	  <div class="form-group">
	    <label class="block" for="DONumber">Please scan/enter DO Number:</label>
	    
			<input type="text" class="form-control" id="DONumber" placeholder="scan/enter DO Number" 
							ng-model="order.DONumber" autofocus focus-me="true" ng-blur="onBlur($event)">
	  </div>
	  
	  <button type="submit" class="btn btn-default" ng-click="submitForm()" ng-disabled="!order.DONumber">Submit</button>
	</form>
  </div>
  </div>


  <div class="padding-x-20" ng-init="temp.showTab='orderDetail'" ng-if="DONumber">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs margin-bottom" role="tablist">
    <li role="presentation" ng-class="{'active':temp.showTab==='orderDetail'}"><a class="cursor-pointer" ng-click="temp.showTab='orderDetail'">Order Detail</a></li>
    <li role="presentation" ng-class="{'active':temp.showTab==='scanItem'}"><a class="cursor-pointer" ng-click="temp.showTab='scanItem'">Scan Item</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane"  ng-class="{'active':temp.showTab==='orderDetail'}" id="orderDetail">
		  <table class="table padding-top table-striped">
		  	<thead> 
		  		<tr> 
		  			<th  class="text-center" colspan="2">Delivery Order</th> 
		  		</tr> 
		  	</thead> 
		  	<tbody> 
						<tr> 
							<td >DO No.</td> 
							<td>{{order.DONumber}}</td>
						</tr>
						<tr> 
							<td >Created By</td> 
							<td>{{order.DOCreationUser}}</td>
						</tr> 
						<tr> 
							<td >Created On</td> 
							<td>{{order.DOCreationDate|ymdDate:'dd MMM yyyy'}}</td>
						</tr> 
						<tr> 
							<td >Return From Customer</td> 
							<td>{{order.ShipToCustomerName}}</td>
						</tr> 
						<tr> 
							<td >PGR Status</td> 
							<td>{{order.pgiStatus}}</td>
						</tr> 
						<tr> 
							<td >Warehouse Number</td> 
							<td>{{order.WarehouseNo}}</td>
						</tr> 
						<tr> 
							<td >Number of Return Items</td> 
							<td>{{order.plannedItems.length||0}}</td>
						</tr> 
						<tr> 
							<td >Total Return Quantity</td> 
							<td>{{order.totalPlannedQty}}</td>
						</tr> 
					</tbody> 
		  </table></div>
		<div role="tabpanel" class="tab-pane" ng-class="{'active':temp.showTab==='scanItem'}" 
				 id="scanItem" scan-items order="order" type="rtgreceipts" barcode="barcode" order-no="{{order.DONumber}}">
    	
    </div>
  </div>
      <!--confirm button-->
  	<div class="col-sm-3 col-xs-12 no-padding-x text-right margin-top">
			<button type="button" class="col-xs-12 btn btn-primary btn-md" confirm-required action="comfirm receipt" 
			ng-click="confirmReceipt()" ng-disabled="!order.confirmReady">
		  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Confirm Receipt
		</button>
	</div>
	<div class="clearboth"></div>
</div>

<pre ng-show="debug">barcode:{{barcode | json}}</pre>	
<pre ng-show="debug">order:{{order | json}}</pre>
<pre ng-show="debug">temp:{{temp | json}}</pre>	
