<form role="form" name="labelBarcode">
	<accordion close-others="false" >
		<div accordion-group class="panel-primary scan-panel text-center"  is-open="true" is-disabled="false" >
		<accordion-heading>
			Scan Panel
		</accordion-heading>
		<table class="table table-striped border scan-item">
			<thead ng-show="barcode.errMsg">
				<tr>
					<th class="error" colspan="2">
						<div ng-repeat="(idx,msg) in barcode.errMsg">{{msg}}</div>
					</th>
				</tr>
			</thead>
				<tbody> 
					<!-- <tr ng-if="type==='picking'||type==='packing'" class="form-group" ng-class="{'has-error':barcode.error.binNumber}">
						<td width="35%" class="padding-top ">
							<label for="binNumber" class="block margin-top">Scan/Enter Bin No:</label>		
						</td>
						<td width="65%">	
							<input type="text" class="form-control full-width" id="binNumber" placeholder="Scan/Enter Bin No" 
							ng-model="barcode.binNo" autocomplete="off">
						</td>
					</tr> -->
					<tr class="form-group" ng-class="{'has-error':barcode.valid===false}">
						<td width="35%" class="padding-top">
							<label for="barcode1" class="block margin-top">Scan/Enter Barcode:</label>		
						</td>
						<td width="65%">	
							 <div class="form-group">
									<input type="text" class="form-control full-width" id="barcode1" placeholder="Scan/Enter barcode1" 
													ng-model="barcode.barcode1" autocomplete="off">
							</div>
					</tr>
					</tr>
					<tr class="form-group" ng-class="{'has-error':barcode.valid===false}" 
											ng-show="(barcode.valid&&!barcode.infoComplete)||barcode.barcode2||barcode.serialNoRequired">
						<td width="35%" class="padding-top">
							<label for="barcode2" class="block margin-top">Scan/Enter Barcode2:</label>		
						</td>
						<td width="65%">	
							 <div class="form-group">
								<input type="text" class="form-control full-width" id="barcode2" placeholder="Scan/Enter barcode2" 
												ng-model="barcode.barcode2" autocomplete="off">
							</div>
						</td>
					</tr>
					<!-- <tr class="form-group" ng-class="{'has-error':barcode.quantity&&barcode.quantity<1}"
										   ng-show="(barcode.valid&&!barcode.infoComplete)" >
						<td width="35%" class="padding-top">
							<label for="quantity" class="block margin-top">Enter Quantity:</label>		
						</td>
						<td width="65%">	
								<div class="form-group">
									<input type="number" class="form-control full-width" id="quantity" placeholder="Enter Qty" 
												ng-model="barcode.quantity" min="1" autocomplete="off">
							</div>
						</td>
					</tr> -->
					<tr class="form-group" ng-class="{'has-error':barcode.materialRequired&&!barcode.materialCode}"
										   ng-show="barcode.materialRequired||barcode.materialCode">
						<td width="35%" class="padding-top">
							<label for="materialCode" class="block margin-top">Material Code:</label>		
						</td>
						<td width="65%">	
							<div class="form-group">
									<input type="text" class="form-control" id="materialCode" placeholder="Material Code" ng-model="barcode.materialCode">
							</div>
						</td>
					</tr>
					<!-- <tr class="form-group" ng-class="{'has-error':barcode.error.batchNo}">
						<td width="35%" class="padding-top">
							<label for="batchNo" class="block margin-top">Batch No:</label>
						</td>
						<td width="65%">	
								<div class="form-group">
										<input type="text" class="form-control col-sm-8" id="batchNo" placeholder="Batch No" 
											 ng-model="barcode.batchNo">
										</div>
						</td>
					</tr> -->
				</tbody> 
				<tfoot>
					<tr>
						<td colspan="2" class="text-center">
								<button type="submit" class="btn btn-default margin-top" ng-click="findItem()" 
											ng-disabled="!barcode.barcode1">Submit</button>
								<!-- <button type="submit" class="btn btn-default margin-top" ng-click="findItem()" 
											ng-disabled="!barcode.barcode1||
														((type==='picking'||type==='packing')&&!barcode.binNo)">Submit</button> -->
								<button type="button" class="btn btn-default margin-top" ng-click="barcode.reset()">Reset</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
 </accordion>
</form>

