

				<div ng-include src="'partials/scan-input.html'"></div>
				<div ng-init="showScanItemTab='groupView'" class="full-width">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs " role="tablist">
						  <li role="presentation" ng-class="{'active':showScanItemTab==='groupView'||order.HUList.length===0}"><a class="cursor-pointer" 
								  ng-click="showScanItemTab='groupView'">Total Summary</a></li>
						  <li role="presentation" ng-class="{'active':showScanItemTab==='itemView'}" ng-show="order.HUList.length>0||order.scannedItems">
									  <a class="cursor-pointer" ng-click="showScanItemTab='itemView'">Box Summary</a>
						  </li>
						  <button type="button" class="btn btn-default pull-right" ng-click="refreshScannedItems();setFocus('barcode1')">Refresh</button>
					</ul>
				  
					<!-- Tab panes -->
					<div class="tab-content">
						<!-- Total Summary start -->
					  <div role="tabpanel" class="tab-pane"  ng-class="{'active':showScanItemTab==='groupView'}" id="groupView">
							<div class="margin-top-20 panel-head">
										<span  ng-if="type==='reservation'">
											<div class="col-sm-2 col-xs-3">
												Status
											</div>
											<div class="col-sm-1 col-xs-3">Item No</div>
										</span>
										<div class="col-sm-3 col-xs-3" ng-if="type!=='reservation'">Item No</div>
										<div class="col-sm-3 col-xs-3">Material</div>
										<div class="col-sm-3 col-xs-3">Batch No</div>
										<div class="col-sm-3 col-xs-3">Scanned/Planned</div>
							</div>
							<div class="clearboth"></div>
							<accordion close-others="true" >
					
								<div accordion-group class="panel-default scan-item"  
										ng-class="{'full':plannedItem.ScanQty===(plannedItem[QuantityFieldName])}"
										is-open="false" is-disabled="false" 
											ng-repeat="(pidx,plannedItem) in order.plannedItems" >
									<accordion-heading>
										<table class="full-width">
											<tr>
												<td  width="10%" class="text-center" ng-if="type==='reservation'">
													<input type="checkbox" 
														   ng-if="plannedItem.ResvStatus!=='X'&&plannedItem.Movement==='X'&&plannedItem.ScanQty===(plannedItem[QuantityFieldName])"  
														   ng-model="plannedItem.posting" style="height:16px;width:20px;" 
														   ng-click="$event.stopPropagation()">
													<span ng-if="plannedItem.ResvStatus==='X'">Posted</span>
													<span ng-if="plannedItem.Movement!=='X'">Not Approved</span>
												</td>
												<td width="15%" class="text-center" ng-if="type==='reservation'">{{plannedItem[itemNoFieldName]}}</td>
												<td width="25%" class="text-center" ng-if="type!=='reservation'">{{plannedItem[itemNoFieldName]}}</td>
												<td width="25%" class="text-center">{{plannedItem.MaterialCode}}</td>
												<td width="25%" class="text-center">{{plannedItem.BatchNo}}</td>
												<td width="25%" class="text-center">{{plannedItem.ScanQty||0}}/{{plannedItem[QuantityFieldName]}}</td>
											</tr>
										</table>
									</accordion-heading>
									<!-- <table class="table table-striped border scan-item">
											<thead ng-show="plannedItem.ScanQty"> 
												<tr>
													<td>Line No</td>

													<td>
														<a class="cursor-pointer" ng-click="sortType = 'serialNo'; sortReverse = !sortReverse">
															Serials No
															<span ng-show="sortType == 'serialNo' && !sortReverse" class="fa fa-caret-down"></span>
															<span ng-show="sortType == 'serialNo' && sortReverse" class="fa fa-caret-up"></span>
														</a>
													</td>
													<td>
														<a class="cursor-pointer" ng-click="sortType = 'qty'; sortReverse = !sortReverse">
															Qty
															<span ng-show="sortType == 'qty' && !sortReverse" class="fa fa-caret-down"></span>
															<span ng-show="sortType == 'qty' && sortReverse" class="fa fa-caret-up"></span>
														</a>
													</td>
														<td>
															<a class="cursor-pointer" ng-click="sortType = 'createdBy'; sortReverse = !sortReverse">
															{{createdByFieldDisplay}}
																<span ng-show="sortType == 'createdBy' && !sortReverse" class="fa fa-caret-down"></span>
																<span ng-show="sortType == 'createdBy' && sortReverse" class="fa fa-caret-up"></span>
															</a>
														</td>
														<td width="10%" class="text-center">Action</td>
													
												</tr>
											</thead> 
											<tbody> 
												<tr ng-if="items&&items.length>0" 
														ng-repeat="(idx,item) in items | 
																	orderBy:sortType:sortReverse | 
																	filter:{MaterialCode:plannedItem.MaterialCode}| 
																	filter:{BatchNo:plannedItem.BatchNo}|
																	filter:{DOItemNumber:plannedItem.DOItemNumber}|
																	filter:{ResvItemNumber:plannedItem.ResvItemNumber}">
							
												<td width="20%">{{idx+1}}</td>
												<td  width="30%">{{item.SerialNo||'-'}}</td>
												<td  width="15%">{{item.ScanQty||1}}</td>
												<td  width="20%">{{item[createdByFieldName]}}</td>
												<td width="10%" class="text-center">
													<a class="cursor-pointer margin-left-20 text-danger"  
														confirm-required="item {{item.serialNo||item.SerialNo}}" 
														ng-click="removeItem(item)" 
														ng-if="((!order.confirmStatus||order.confirmStatus!=='C')&&type!=='reservation')||(type==='reservation'&&plannedItem.ResvStatus!=='X')">
														<i class="text-danger fa fa-times-circle fa-lg"></i>
													</a>
												</td>
							
											</tr>
											<tr ng-show="!plannedItem.ScanQty">
												<td colspan="5" class='empty-message text-center'>No scan item.</td>
											</tr>
											</tbody> 
										</table> -->
								</div>
								<dir class="clearboth"></dir>
							</accordion>
					  </div>
					  <!-- Total Summary end -->
					  <!-- Box Summary start -->
					  <div role="tabpanel" class="tab-pane" ng-class="{'active':showScanItemTab==='itemView'}" id="itemView">
							<form ng-show="items&&items.length>0" class="margin-top">
								<div class="form-group">
									<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
									<input type="text" class="form-control" placeholder="Search item" ng-model="searchItem">
									</div>      
								</div>
							</form>
							<table class="table padding-top table-striped border">
								<thead> 
									<tr>
										
									<td>
										<a class="cursor-pointer" ng-click="sortType = itemNoFieldName; sortReverse = !sortReverse">
										Item Number
										<span ng-show="sortType == itemNoFieldName && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == itemNoFieldName && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</td>
									<td>
										<a class="cursor-pointer" ng-click="sortType = 'MaterialCode'; sortReverse = !sortReverse">
										Material
										<span ng-show="sortType == 'MaterialCode' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'MaterialCode' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</td>
									<td>
										<a class="cursor-pointer" ng-click="sortType = 'BatchNo'; sortReverse = !sortReverse">
										Batch No 
										<span ng-show="sortType == 'BatchNo' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'BatchNo' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</td>
										<td>
										<a class="cursor-pointer" ng-click="sortType = 'SerialNo'; sortReverse = !sortReverse">
										Serials No
										<span ng-show="sortType == 'SerialNo' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'SerialNo' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</td>
									<td>
										<a class="cursor-pointer" ng-click="sortType = 'ScanQty'; sortReverse = !sortReverse">
										Qty
										<span ng-show="sortType == 'ScanQty' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'ScanQty' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</td>
									<td width="10%" class="text-center">Action</td>
										
									</tr>
								</thead> 
								<tbody> 
									<tr ng-if="items&&items.length>0" 
										ng-repeat="(idx,item) in items | orderBy:sortType:sortReverse | filter:searchItem">
				
									<td>{{item[itemNoFieldName]}}</td>
									<td>{{item.MaterialCode}}</td>
									<td>{{item.BatchNo}}</td>
									<td>{{item.SerialNo}}</td>
									<td>{{item.ScanQty||1}}</td>
									<td width="10%" class="text-center">
										<a class="cursor-pointer margin-left-20 text-danger"  
											confirm-required="item {{item.serialNo||item.SerialNo}}" 
											ng-click="removeItem(item)" 
											ng-if="((!order.confirmStatus||order.confirmStatus!=='C')&&type!=='reservation')||
													(type==='reservation'&&plannedItem.ResvStatus!=='X')">
											<i class="text-danger fa fa-times-circle fa-lg"></i>
										</a>
									</td>
				
								</tr>
								<tr ng-if="!items||items.length==0">
									<td colspan="6" class='empty-message'>No item.</td>
								</tr>
								</tbody> 
							</table>
						  
						</div>
						<!-- Box Summary end -->
						
					  <div class="clearboth"></div>
					</div>
				  </div>
			