<div class="" style="padding:30px;margin-top:20px">
	<h2 class="text-center">Post Sterile Receipts</h2>
</div>
<div ng-include src="'partials/scan-input.html'"></div>
<section>
	<ul class="nav nav-tabs margin-bottom" role="tablist">
		<li role="presentation" ng-class="{'active':temp.showTab==='workOrders'}">
			<a class="cursor-pointer" ng-click="temp.showTab='workOrders'">Work Orders</a>
		</li>
		<li role="presentation" ng-class="{'active':temp.showTab==='bitScanItem'}">
			<a class="cursor-pointer" ng-click="temp.showTab='bitScanItem'">Scan BIT Items</a>
		</li>
		<li role="presentation" ng-class="{'active':temp.showTab==='qasScanItem'}">
			<a class="cursor-pointer" ng-click="temp.showTab='qasScanItem'">Scan QA Samples</a>
		</li>
	</ul>
<!-- Tab panes -->
<div class="tab-content">
		<h3 class="text-center">Subcon Order:{{workOrders[0].SubConPoRefNo}}</h3>
		<div role="tabpanel" class="tab-pane"  ng-class="{'active':temp.showTab==='workOrders'}" id="workOrders">
			  <table class="table padding-top table-striped" ng-repeat="(woIdx,order) in workOrders">
				  <thead> 
					  <tr> 
						  <th  class="text-center" colspan="2">Work Order No: {{order.WorkOrder}}</th> 
					  </tr> 
				  </thead> 
				  <tbody> 
							<tr> 
								<td >Planned Quantity for BIT</td> 
								<td>{{order.nPlanSGWQty}}</td>
							</tr>
							<tr> 
								<td >Received Quantity for BIT</td> 
								<td>{{order.nRcptSGWQty}}</td>
							</tr>
							<tr> 
								<td >Planned Quantity for BESA</td> 
								<td>{{order.nPlanCHWQty}}</td>
							</tr>
							<tr> 
								<td >Received Quantity for BESA</td> 
								<td>{{order.nRcptCHWQty}}</td>
							</tr>
							<tr> 
								<td >Planned Quantity for QA Samples</td> 
								<td>{{order.nPlanSGQQty}}</td>
							</tr>
							<tr> 
								<td >Received Quantity for QA Samples</td> 
								<td>{{order.nRcptSGQQty}}</td>
							</tr>							
							
						</tbody> 
			  </table>
			  <div class="col-sm-4 col-xs-12 no-padding-x text-right margin-top">
					<button type="button" class="col-xs-12 btn btn-primary btn-md" confirm-required action="confirm Subcon Receipt" 
					ng-click="confirmReceipt()" ng-disabled="bitList.length>0||qasList.length>0">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Confirm Receipt
				  </button>
			  </div>
			  <div class="clearboth"></div>
		</div> 
		<!-- endof first tab -->
		<div role="tabpanel" class="tab-pane" ng-class="{'active':temp.showTab==='bitScanItem'}" >
				
				<h4 class="margin-top">Subcon pending list for return scan</h4>	
				<form ng-show="bitList&&bitList.length>0" class="margin-top">
						<div class="form-group">
							<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search item" ng-model="searchItem">
							</div>      
						</div>
					</form>
					<table class="table padding-top table-striped border" >
						<thead> 
							<tr>
								<!-- <td>Line No</td> -->
								<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'SerialNo'; sortReverse = !sortReverse">
								Serials No
								<span ng-show="sortType == 'SerialNo' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'SerialNo' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'workorder'; sortReverse = !sortReverse">
								Work Order
								<span ng-show="sortType == 'workorder' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'workorder' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'subConPo'; sortReverse = !sortReverse">
								Subcon PO
								<span ng-show="sortType == 'subConPo' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'subConPo' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'CreatedBy'; sortReverse = !sortReverse">
								Created By 
								<span ng-show="sortType == 'CreatedBy' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'CreatedBy' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'CreatedOn'; sortReverse = !sortReverse">
								Created On
								<span ng-show="sortType == 'CreatedOn' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'CreatedOn' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							</tr>
						</thead> 
						<tbody> 
							<tr ng-if="bitList&&bitList.length>0" 
								ng-repeat="(idx,item) in bitList | orderBy:sortType:sortReverse | filter:searchItem">
		
							<td class="text-center">{{item.SerialNo}}</td>
							<td class="text-center">{{item.workorder}}</td>
							<td class="text-center">{{item.subConPo}}</td>
							<td class="text-center">{{item.CreatedBy}}</td>
							<td class="text-center">{{item.CreatedOn|date:"dd/MMM/yyyy"}}</td>
						</tr>
					
						<tr>
							<td class="text-center" colspan="6" class='empty-message'  ng-show="!bitList||bitList.length==0">No item.</td>
							<td class="text-center" colspan="6" class='empty-message'  ng-show="bitList&&bitList.length>0">Total Quantity: {{bitList.length}}</td>
						</tr>
						</tbody> 
					</table>		
		</div>
				<!-- endof second tab -->
		<div role="tabpanel" class="tab-pane" ng-class="{'active':temp.showTab==='qasScanItem'}" >
				
				<h4 class="margin-top">Subcon pending list for return scan</h4>	
				<form ng-show="qasList&&qasList.length>0" class="margin-top">
						<div class="form-group">
							<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search item" ng-model="searchItem">
							</div>      
						</div>
					</form>
					<table class="table padding-top table-striped border" style="max-height: 200px">
						<thead> 
							<tr>
								<!-- <td>Line No</td> -->
								<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'SerialNo'; sortReverse = !sortReverse">
								Serials No
								<span ng-show="sortType == 'SerialNo' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'SerialNo' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'workorder'; sortReverse = !sortReverse">
								Work Order
								<span ng-show="sortType == 'workorder' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'workorder' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'subConPo'; sortReverse = !sortReverse">
								Subcon PO
								<span ng-show="sortType == 'subConPo' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'subConPo' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'CreatedBy'; sortReverse = !sortReverse">
								Created By 
								<span ng-show="sortType == 'CreatedBy' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'CreatedBy' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							<td class="text-center">
								<a class="cursor-pointer" ng-click="sortType = 'CreatedOn'; sortReverse = !sortReverse">
								Created On
								<span ng-show="sortType == 'CreatedOn' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'CreatedOn' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</td>
							</tr>
						</thead> 
						<tbody> 
							<tr ng-if="qasList&&qasList.length>0" 
								ng-repeat="(idx,item) in qasList | orderBy:sortType:sortReverse | filter:searchItem">
		
							<td class="text-center">{{item.SerialNo}}</td>
							<td class="text-center">{{item.workorder}}</td>
							<td class="text-center">{{item.subConPo}}</td>
							<td class="text-center">{{item.CreatedBy}}</td>
							<td class="text-center">{{item.CreatedOn|date:"dd/MMM/yyyy"}}</td>
						</tr>
					
						<tr>
							<td class="text-center" colspan="6" class='empty-message'  ng-show="!qasList||qasList.length==0">No item.</td>
							<td class="text-center" colspan="6" class='empty-message'  ng-show="qasList&&qasList.length>0">Total Quantity: {{qasList.length}}</td>
						</tr>
						</tbody> 
					</table>		
		</div>
		<!-- endof Third tab -->


</div> <!-- end of tab panes -->

		
	

	<div class="clearboth"></div>
</section>


<div class="clearboth"></div>
<pre ng-show="debug">barcode:{{barcode | json}}</pre>	
<pre ng-show="debug">workOrders:{{workOrders | json}}</pre>	
<pre ng-show="debug">bitList:{{bitList | json}}</pre>	
<pre ng-show="debug">qasList:{{qasList | json}}</pre>	
<pre ng-show="debug">temp:{{temp | json}}</pre>	

