	<div class="" style="padding:30px;margin-top:20px">
	  <h2 class="text-center">Store Operations</h2>
	</div>
<section>
	<div class="col-sm-6 col-sm-offset-3 margin-top">
	  <a href="#/store-ops/counting-im" type="button" class="col-xs-12 btn btn-info btn-lg"> 
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Counting IM
		</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top-20">
	  <a href="#/store-ops/counting-wm" type="button" class="col-xs-12 btn btn-info btn-lg"> 
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Counting WM
		</a> 
	</div>
	<div class="clearboth"></div>
	<div class="col-sm-6 col-sm-offset-3 margin-top-20">
	  <a href="#/store-ops/consolidated-udi" type="button" class="col-xs-12 btn btn-info btn-lg"> 
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	Consolidated UDI
		</a> 
	</div>
	<div class="clearboth"></div>
</section>