<div class="" style="padding:30px;margin-top:20px">
	<h2 class="text-center">{{title||'Post Sterile Receipts'}}</h2>
</div>
<section>
	<!-- <div class="form-group">
	  	<label class="block text-center margin-bottom" for="workOrder">Please Choose Subcon Order</label>
	    <div class="col-sm-6 col-xs-9  col-sm-offset-3 col-xs-offset-1 no-padding-x margin-bottom">
			<select class="chosen-select col-sm-12 col-xs-12 form-control"
					ng-model="order.orderNo"
					name="domain"
					ng-options="item.SubCOnPORefNo as item.SubCOnPORefNo for item in subconOrders"
					>
					<option value="">Select Subcon Order</option>
			</select>
		</div>

	</div> -->
	<form >
	<div class="form-group">
			<label class="block" for="userInput">Please Scan PO, WO Number or full barcode, Or Select from List:</label>
				<input type="text" class="form-control" placeholder="Scan PO/WO Number or full barcode" 
							 ng-model="order.userInput" autofocus focus-me="true">
	</div>
	<div class="clearboth"></div>
	<div role="tabpanel" class="tab-pane">
			<table class="table padding-top hover-table">
				<thead> 
					<tr> 
						<th  class="text-center">Choose</th> 
						<th  class="text-center">SubconPO No</th> 
						<th  class="text-center">WorkOrder No</th> 
						<th  class="text-center">Batch No</th> 
						<th  class="text-center">is UDI</th> 
					</tr> 
				</thead> 
				<tbody> 
						  <tr ng-repeat="(idx,sOrder) in subconOrders" ng-if="sOrder.quarShptConfirmStatus!=='C'||type!=='quarPlan'"> 
							  <td class="text-center" ng-class="{'info':order.orderNo===sOrder.SubCOnPORefNo}">
									<input type="radio" name="order{{idx}}" ng-model="order.orderNo" value="{{sOrder.SubCOnPORefNo}}">
							  </td> 
							  <td class="text-center cursor-pointer" 
							  		ng-class="{'info':order.orderNo===sOrder.SubCOnPORefNo}"
							  		ng-click="order.orderNo=sOrder.SubCOnPORefNo;order.userInput=undefined">
									  {{sOrder.SubCOnPORefNo}}
								</td>
							  <td class="text-center cursor-pointer" ng-class="{'info':order.orderNo===sOrder.SubCOnPORefNo}"  ng-click="order.orderNo=sOrder.SubCOnPORefNo">
								  <div ng-repeat="wo in sOrder.woNos">{{wo}}</div>
							  </td>
							  <td class="text-center cursor-pointer" ng-class="{'info':order.orderNo===sOrder.SubCOnPORefNo}"  ng-click="order.orderNo=sOrder.SubCOnPORefNo">
								  <div ng-repeat="bc in sOrder.batchNoList">{{bc}}</div>
							  </td>
							  <td class="text-center cursor-pointer " ng-class="{'info':order.orderNo===sOrder.SubCOnPORefNo}"  ng-click="order.orderNo=sOrder.SubCOnPORefNo">
								  <div ng-repeat="code in sOrder.fullScanCodeList">
									  <!-- {{code.length>20}} -->
									  <span ng-if="code.length>20" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
									  <span ng-if="code.length<=20"class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
									</div>
							  </td>
						  </tr>
				</tbody>
			</table>
		</div>
		<div class="clearboth"></div>
		<div class="col-sm-12 no-padding-x margin-bottom  text-center">
			<button type="submit" class="btn btn-default" ng-click="getWorkOrders()" ng-disabled="!order.orderNo&&!order.userInput">Submit</button>
		</div>	
	</form>	
</section>


<pre ng-show="debug">subconOrders:{{subconOrders | json}}</pre>	
<pre ng-show="debug">order:{{order | json}}</pre>	
