
html,body {
  height:100%; /* needed for container min-height */
}

.nav .dropdown{
	margin-right:15px;
}
.bx .page-loading{
	position: fixed;
	top: 40%;
	left: 45%;
	max-width: 120px;
}
.bx .navbar-inverse .navbar-collapse, 
.bx .navbar-inverse .navbar-form{
	background-color: #337ab7;
	border-color: #2e6da4;
}
.nav.navbar-nav li a.active {
	background-color: #2e6da4;
	color: #EEE;
}
.bx .navbar-inverse{
	background-color: #337ab7;
	border-color: #2e6da4;
}
.bx .navbar-inverse .navbar-nav>li>a{
	color:#DDD;
}
.navbar-inverse .navbar-brand.primary{
	font-size: 22px;
	color:#FFF;
}
.bx .navbar-brand {
	line-height: 30px;
}
.bx .subnav .navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.bx .navbar-brand.primary{
	padding:10px 15px;
}
.bx .subnav .nav.navbar-nav li a.active {
	background-color: #5bc0de;
	color: #EEE;
}
.bx .subnav {
	padding-left:90px;
	background-color: #EEE;
	border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.main-view {
  padding:60px 10px 0 10px;
  width:100%;
  display: table;
  max-width: 768px;
  margin:auto;
  font-family: 'Ubuntu', sans-serif;
  height: calc(100% - 40px);
  height:-moz-calc(100% - 40px);
}
.main-view h1{
	/*font-family: 'Poiret One', cursive;*/
	font-family: serif;
}
.search-box input {
	padding-left: 30px;
}
.search-box .glyphicon-search {
	top:10px;
	left:10px;
	position: absolute;
}
.shortcut-symbols{
	color:brown;
	font-weight: bold;
	font-size: 18px;
}
.footer {
	background-color: #CCC;
	margin:auto;
	text-align: center;
	height: 40px;
	line-height: 40px
}


.loginHeader{
  background-color: #333;
  color: #fff;
}

.loginHeader .modalClose{
  color: #efefef;
}
.info-header{
  background-color: #333;
  color: #fff;
}

.info-header .modalClose{
  color: #efefef;
}


.modalClose{
position: absolute;
top: 0;
right: 0;
font-size: 1.5em;
text-align: center;
background:none;
border:none;
}

.content-wrapper{
  padding:20px;
}

form .form-group.err-msg{
  margin-bottom:10px;
}
form .error.alert{
  padding:5px;
}
form.form select{
  width:100px;
}
.submitted input.ng-invalid{border-color:red;}


.bx .bx-indent{
	margin-top: 20px;
	text-indent: 30px;
}

.bx .navbar-inverse .navbar-toggle {
    border-color: #ccc;
}

.bx .no-padding-x {padding-left: 0px; padding-right: 0px}
.bx .hu.nav-tabs>li{
	margin-bottom: -2px;
	margin-top:10px;
}
.bx .hu.top-nav.nav-tabs>li>a.active{
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #FFF
}
.bx .hu.nav-tabs>li>a{
	border: 1px solid #CCC
}
.bx .hu.nav-tabs>li>a.add-button{
	background-color: #5cb85c;
    color: white;
    padding: 3px 5px;
    margin-top: 14px;
}
.bx .modal-footer.text-center{text-align:center;}

.bx form .error{
	  color: rgb(210, 10, 17);
  font-size: 12px;
  padding: 10px 0;
}

.bx input.error{
	font-size:14px;
  padding: 10px 12px;
}

.bx .hu-highlight {
	background-color: #d9edf7;
	
}
.bx .auto-expand.dropdown:hover {
        background-color: #222;
    }
.bx .auto-expand.dropdown:hover .dropdown-menu {
        display: block;
    }
.bx .company-logo{
	background-image: url("/media/logo.bsi.long.svg");
	width: 26px;
    height: 26px;
    background-color: #FFF;
    background-position-x: 0px;
    background-position-y: -1px;
    margin-top: 2px;
}
.bx .letter{
	margin-left: -6px;
    margin-right: -6px;
    color: #BBB;
}
.bx .panel-head div{
	background-color: #337ab7;
	padding:10px 0;
	color:#EEE;
	text-align: center;
	margin-bottom:10px;
}
.bx a.accordion-toggle{
	cursor: pointer;
	text-decoration: none;
}
.bx .scan-item .panel-body{
	padding:0;
}
.bx .scan-panel .form-group{
	margin-bottom: 0px;
}

.bx .has-error label{
	color:#a94442;
}

.bx table.scan-item{
	margin-bottom: 0px;
}

.bx .scan-item.full .panel-heading:hover,
.bx .scan-item.full .panel-heading{
	background-color: #5cb85c;
	color:#EEE;
}

.bx .scan-item .panel-heading:hover{
	background-color:#DDD;
}
/* .bx .form-group input{
	height:50px;
} */

@media only screen and (max-width: 1180px) {
	.bx .letter{display:none;}
	.bx .highlight-letter {
		margin-left:-5px;
	}
} 

@media only screen and (max-width: 768px) {
	.bx .nav.navbar-nav{
		font-size:20px;
	}
	.bx table.scan-item tr.form-group td.lable{
		width:25%;
	}
	.bx table.scan-item tr.form-group td.input{
		width:75%;
	}
} 